------------The Original Code-------------
body {

}
.content {

}

p.date {

}

h3 {

}

p.desc {

}
-------------- My Code--------------------
body {
  margin-left:2em;
  margin-right: 2em;
}
.content {
   padding: 1em;
}

p.date {
  text-align: center;
}
h3 {
  text-align: center;
}

p.desc {
  text-align: center;
}
----------------Instructor's Code------------------
body {
    padding: 2em;
}
.content {
    padding: 1em;
}

p.date {
    text-align: left;
    margin: 0;
}

h3 {

}

p.desc {
    margin-bottom: 0;
}
